<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav d-flex p-4 justify-content-between bg-light">
        <li class="nav-item">
          <a class="nav-link active" href="#">wikinimous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Add an article</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
